.fbody{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.info1{
    color: whitesmoke;
    font-size: medium;
    font-weight: 400;
    
}

ul li{
    margin: 5px;
    cursor: pointer;
    &:hover{
    color: red;
    }
}

.icons {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

.icon {
    width: 32px; 
    height: 32px; 
    margin: 5px; 
    cursor: pointer;
    transition: transform 0.3s ease
}

.icon:hover{
    transform:scale(1.2)
}