  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);
    width: 100vw;
  }
#header {
    background-color: #222;
    /* height: 125px; */
    padding: 0;
    margin: 0;
    color: white;
  }
  
  /* Styles for the body */
  #body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
  /* Styles for the footer */
  #footer {
    background-color: #333; /* Adjust color to your preference */
    padding: 10px;
    color: white;
    text-align: center;
  }

  /* header{
    background-color: #222;
    height: 125px;
    padding: 0;
    margin: 0;
  } */