/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main container for the admin page */
  .admin_body {
    width: 95%;
    height: auto;
    margin: 10px;
  }
  
  /* Container for the admin functions/navigation */
  .admin_detail {
    width: 90%;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px #fff;
  }
  
  /* Styling for the navigation options */
  #admin-func li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
  }
  
  /* Underline effect for active navigation option */
  #admin-func li.active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
  }
  
  /* Content body styling */
  .content-body {
    width: 80%;
    padding: 30px;
    border: solid 2px black;
    margin: 15px;
    background-color: beige;
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 25px;
    transition: transform 0.5s;
  }
  
  /* Hover effect for content body */
  .content-body:hover {
    transform: scale(1.2);
  }
  
  /* Status styles based on order status */
  .status-pending {
    background-color: red;
    color: white;    
    width: 70px;
    height: 20px;
  }
  
  .status-processing {
    background-color: rgb(240, 151, 42);
    color: white;    
    width: 70px;
    height: 20px;
  }
  
  .status-shipped {
    background-color: blue;
    color: white;    
    width: 70px;
    height: 20px;
  }
  
  .status-delivered {
    background-color: rgb(84, 242, 84);
    color: white;    
    width: 70px;
    height: 20px;
  }
  
  /* User guide styling */
  #user-guide {
    font-size: xx-large;
    font-weight: 500;
  }
  