* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add box-sizing for consistent layout */
}

.admin_body {
    width: 95%;
    height: auto;
    margin: 10px 10px 10px 10px ;
    /* border: solid 1px #fff; */
    
}

.admin_detail {
    width: 90%;
    display: flex;
    justify-content: space-around;
    border-bottom:solid 1px #fff ;
}

#admin-func {
    width: 100%;
    display: flex;
}

/* Apply basic styling to the <li> elements */
#admin-func li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    position: relative; /* Add relative positioning for pseudo-element */
}

/* Style for the highlight line pseudo-element */
#admin-func li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #007bff; /* Color of the highlight line */
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Initially hide the line */
    transform-origin: bottom left;
    transition: transform 0.3s ease; /* Add a smooth transition */
}

/* Apply styles when the <li> is active */
#admin-func li.active::before {
    transform: scaleX(1); /* Expand the line to full width */
}



.content-body{
    width: 80%;
    /* height: auto; */
    padding: 30px;
    border: solid 2px black;
    margin: 15px;
    background-color: beige;
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 25px;
    transition: transform 0.5s;
    &:hover{
        transform:  scale(1.2)
    }
}