/* CSS for navigation bar */
.navigationWrapper {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}
.logoWrapper {
  display: flex;
  font-weight: bold;
  color: #ea4f4c;
  padding-left: 4px;
}
.navigation {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;

}
.navigation1 {
  display: flex;
  list-style: none;

}
.parent {
  padding: 0 10px;
  cursor: pointer;
  margin: 15px;
}
.link {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  color: white;
}
.link:hover {
  color: red;
}


/* CSS for buttons */
.btn-ca{
  border-radius: 30px;
}
.btn-c{
  width: 68px;
  height: 44px;
  border-radius:20px ;
}
.space{
  margin-right: 50px;

}
.btn-u{
  border-radius: 30px;
}
.btn-u:hover {
  color: white;
}


/* Reset default link styles */
.btn-u a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.btn-u a:hover {
  text-decoration: underline;
  /* color: red; */
}
ul.logo-list {
  list-style-type: none;
  /* Remove bullet points */
}
.logoWrapper {
  display: flex;
  font-weight: bold;
  color: #ea4f4c;
  padding-left: 4px;
}
.cart-icon {
  width: 30px;
  /* Set your desired width */
  height: 30px;
  /* Set your desired height */
}
.signout-button {
  width: 100px;
  /* Set your desired width */
  height: 30px;
  /* Set your desired height */
}
.icon {
  margin-right: 10px; /* Add some right margin to create space */
}

