/* order.css */
.container {
    padding: 20px;
}

/* This will edit the header */
.beICJd{
    /* justify-content: center; */
    background-color: transparent;
    
}
/* This will edit the rows and data */
.hRfGpm{
    /* justify-content: center; */
    background-color: transparent;
}